extends layouts/landing-layout.pug
block content 
    section 
     .container
        .left
        .right
            .content    
                h1 Capital Coin
                p  filling the vaccum of space with knowledge
                a(href="/login") Login 
                a(href="/register") Signup 


